{% extends 'base.html.twig' %}

{% block body %}
<h2 class="h2_title">Bienvenue dans la boutique</h2>

    <div class="items">
        {% for label, messages in app.flashes %}
            {% for message in messages  %}
                <div class="alert-{{ label }}">{{ message }}</div>
            {% endfor %}
        {% endfor %}
        {% for bonus in ShopBonus %}
            <div class="item-{{ bonus.id }}">
                <div class="description">
                    <p>{{ bonus.price }}</p>
                </div>
                <h3>{{ bonus.name }}</h3>
                <a href="{{ url('shop', {"bonusID": bonus.id}) }}">ACHETER</a>
            </div>
        {% endfor %}
    </div>

{% endblock %}
