{% extends 'base.html.twig' %}

{% block body %}
    <div class="block_shop">

        <div class="second_header">
            <figure class="image"><img src="{{ asset('/build/images/retour.png') }}" alt=""></figure>
            <h2 class="h2_title">Bienvenue dans<br> la boutique :</h2>
        </div>

        <div class="items">
            {% for label, messages in app.flashes %}
                {% for message in messages  %}
                    <div class="alert-{{ label }}">{{ message }}</div>
                {% endfor %}
            {% endfor %}

            {% for bonus in ShopBonus %}
                <div class="item">
                    <div class="planche">
                        <img src="{{ asset('/build/images/inner2.png') }}" alt="">
                        <div class="left">
                            <p class="price">{{ bonus.price }}</p>
                            <figure><img src="{{ asset('/build/images/point.png') }}" alt=""></figure>
                        </div>
                        <figure class="right">
                            <img src="{{ asset('/build/images/infos.png') }}" alt="">
                        </figure>
                        <figure class="image">
                            <img src="{{ asset('/build/images/infos.png') }}" alt="">
                        </figure>
                    </div>

                    <p class="name">{{ bonus.name }}</p>

                    <a class="btn_buy" href="{{ url('shop', {"bonusID": bonus.id}) }} ">
                        <img src="{{ asset('/build/images/buyButton.png') }}" alt="">
                    </a>
                </div>
            {% endfor %}
        </div>

    </div>
{% endblock %}
