<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <header class="block_header">
            <figure class="block_logo">
                <img class="image_logo" src="{{ asset('/build/images/logo.png') }}" alt="logo tiguidou quizz">
            </figure>
        </header>

        <main class="block_main">
            <figure class="template_planche">
                <img src="{{ asset('/build/images/planche.png') }}" alt="">
                <div class="inner">
                    {% block body %}{% endblock %}
                </div>
            </figure>
        </main>

        <div class="block_caribou">
            <figure class="caribou">
                <img src="{{ asset('/build/images/caribou.png') }}" alt="caribou tiguidou">
            </figure>
        </div>

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
